section(id="about-me")
  section
    h2 About Me
    p 
      | I'm a Professional Software Engineer who works for 
      a(href="https://familysearch.org" alt="FS") Family Search 
      as a team lead.   I get the opportunity to work in multiple language including 
      a(href="https://java.com") Java,  
      a(href="https://ruby-lang.org") Ruby, 
      a(href="https://en.wikipedia.org/wiki/JavaScript") Javascript 
      | and more. 

  section
    h2 Personal
    p
      | I am father of 5 (4 cute girls and 1 awesome little guy).  I love to play
      | piano, guitar and violin and just about any instrument I can get my hands
      | on (even though I don't sound good).  I love to play with electronics
      | and the occasional video game.  

    img(class="girls pics" src="img/girls.jpg")
    img(class="boys pics" src="img/jacen.jpg")

  section
    h2 Professional
    p 
      | I have worked for a number of different companies in a number of different  
      | technologies that range from simple e-commerce to storage backup and 
      | forensic data.  I have a professional background with many years experience
      ul
        li C# - ASP.NET, Silverlight, WPF
        li C++ - Boost, Windows Drivers
        li Microsoft SQL, MySql, PostgreSQL
        li Python - Django, Flask
        li Ruby - Ruby on Rails, Sinatra
        li Javascript - AngularJS, jQuery

  section 
    h2 Adjunt Professor
    p
      | I have been an 
      a(href="http://en.wikipedia.org/wiki/Adjunct_professor#Adjunct_professor") adjunct professor 
      | for 
      a(href="http://www.uvu.edu/profpages/profiles/show/user_id/4954") UVU since 2007.  
      | During which I have been able to teach a number of different courses:

    br

    ul
      li 1030
      li 1400
      li 1410
      li 2300
      li 3060 
      li (and more)

  section
    h2 Contact Info
    p
      | I am available most of the day for simple chat, but will likely not be able to
      | communicate over the phone without prior arrangements.  I am also accessible 
      | through a couple of different means.  
    br
    ul
      li  
        a(href="http://www.skype.com") Skype
        | : weijiajun
      li
        a(href="www.google.com/talk") Google Talk
        | : mkwright at gmail
      li
        | Email: mkwright at gmail
      li 
        | SMS: 801 753 8157


