section#calendar
  section
    h2 Calendar
    p 
      | This is a block semester so there are only a few dates that we really need to be
      | aware of. 
    ul
      li First day of School - May 12<sup>th</sup>
      li Last Withdrawal - May 19<sup>th</sup>
      li Final - June 26  
        b (In Class)
      li Last day of School - June 26<sup>th</sup>

