section(id="communication")
  section
    h2 Class Communication
    p 
      | As this is a quick class, communication will be vital to the success
      | you will have as a student.  Being an adjunct I do not have an on site
      | office, so online communication will be the best way to communicate.  
    br 
    p 
      | There are a few tools that I would like to use for the class to setup
      | for IM as well as for face-to-face communication.  These main tools are 
      b Google Hangout
      | and 
      b Twitter

  section(id="Hangout")
    h2
      a(href="https://www.google.com/+/learnmore/hangouts/") Google Hangout
    p
      | Hangouts have two main uses, the first being a chat client, with support
      | for group chats, as well as a video conferencing tool.  
    br 
    p
      | If you do not already have a google account you will need to create one
      | to gain access to google hangout. Once you have a google account you can
      | just follow me on google plus  
      a(href="https://plus.google.com/+MichaelWrightPlus") here 
      | and I will post any recorded videos online for others to view. 
  section(id="Twitter")
    h2
      a(href="https://twitter.com") Twitter
    p
      | With class, sometimes there are needs that arise which require quick
      | communication between the teacher and the students.  I prefer to use
      | twitter as this notification system as there are numerous clients 
      | and services that can be used with twitter to create your perfect 
      | notification.
    br
    p 
      | You can follow me on twitter at  
      a(href="https://twitter.com/nk_wright") here.  
      | All of the messages sent that will pertain to this class will 
      | start with a #CS2300 hashtag.  

