section(id="course-details")
  section(id="Course Details")
    h2 Course Details
    p
      | In this course we are going to stray from what you would normally experience
      | in other computer science courses.  this one is completely focused on 
      | mathematics and its application in computers.  
    br
    p 
      | Since we are going to be focused on mathematics your assigments will be 
      | mostly handwritten and handed in during class.  There is a possibility that 
      | a programming assigment might be slipped in before the end of the semester though.

  section(id="Objectives")
    h2 Objectives
    p
      | This class will teach you a lot of the fundamentals of logic design and its
      | use within the computing industry.  
    br
    p
      | To get the most out of this course you should not only follow along with the 
      | area we are covering in the book, but also to go through the examples we will 
      | discuss in the course and also doing the in-class assignments. 

  section(id="Materials")
    h2 Materials
    p 
      | The textbook for this course is listed below.  Be sure to pickup a copy as 
      | there are a number of other examples and problems that you will need to go over.  

      ul
        li
          a(href="http://www.amazon.com/Essentials-Discrete-Mathematics-Bartlett-Inernational/dp/1449604420") Essentials of Discrete Mathematics 2<sup>nd</sup> Edition.

  section(id="Discussion Topics")
    h2 Discussion Topics
    p
      | This class, like I hope all other college classes, is built around the idea of 
      | group discussions and cooperative support.  I believe that ideas and questions
      | can and should be shared with each other.  
    br
    p
      | This does not mean that you can answer the questions for each other, or copy 
      | each other's work.  Please work on your own personal material for cheating
      | will have <b>0 tolerance</b>
