section#ethics
  h2 Ethics / Honesty
  p
    | Honesty is a quality that will take you far in life, especially with 
    | managers since they would rather hear the truth, then have you sell them
    | a lie. This type of behaviour will often lead to job loss or other problems. 
  br
  p
    | This class is not much different, honestly will help you to work on your 
    | own assignments and help you to increase your own knowledge of the topic. 
    | Cheating will only hurt yourself, through a lack of understanding in the 
    | material (which will negatively impact your work performance) to the 
    | possiblity of being expelled from the university. 
  br 
  h3 
    b Cheating will not be tolerated.   
    
