section#grading
  section
    h2 Grading
    p
      | Of course one of the core pieces of information needed for you to 
      | be successful is hwo you will be graded.  Within this class you will
      | have a number of different items that you will need to complete
      | to receive grades.  
    br
    ul
      li Assignments
      li Programming Project
      li Final
      li Extra Credit

  section#assignments
    h2 Assignments
    p
      | Assignments for this class will be based from assignments given within
      | the book.  There will be an assignment due each week of this block for
      | a total of 6 assignments.  
    br
    p
      | Assignments are going to be hand written and so should be clean and 
      | clear.  To emphasize this, if I find ambiguity within a solution for
      | a project you will lose points and receive points only for that which 
      | is legible.  
    br
    p
      | Assignments will be worth 100 points each.  

  section#programming-project
    h2 Programming Project
    p
      | Within the class there will be a single programming project that 
      | will be required to complete.  This programming project can be 
      | completed in any language, however use of libraries will be limited 
      | to only a subset to make sure that work is completed by the user and 
      | not discovered through an existing library.  
    br
    p
      | This assignment can be done over the course of the semester once the
      | topic has been discussed, and will be required to turn in by the
      | last day of class (the final).  
    br
    p
      | The Programming Project will be worth 100 points.  

  section#final
    h2 Final
    p
      | The final for this class will be given on the last day of class and
      | will require you to have access to a pencil/pen.  You can also bring 
      | a simple calculator (no graphing or programmable ones). You will be 
      | provided with any scratch paper necessary to complete the test.  
    br
    p
      | As for any material in the final, you will be allowed a single 3x5" 
      | note card (both front and back) to put any information you would like
      | on it, but not other material will be provided.  
    br
    p
      | The final will be worth 300 points

  section#extra-credit
    h2 Extra Credit
    p
      | I do believe in some extra credit, but mostly for those that are already 
      | giving their all towards the class, to help them to bump up their grade 
      | some.  In this class you will have only one extra credit oppurtunity
      | which is a random quiz given on either Tuesday or Thursday each week. 
    br
    p
      | To receive extra credit you will need to have access to your own writing
      | materials, and be on time to class.   
    br
    p
      | There will be 6 extra credit oppurtunities that total to 100 points

