section(id="schedule")
  section
    h2 Schedule
    p
      | This class is a single block class, which means that it will go from
      b May 12<sup>th</sup>, 2014 
      | to 
      b June 26<sup>th</sup>, 2014.
    br
    p
      | This class is broken down into 4 days a week 
      ul
        li 
          a(href="#/schedule-monday") Mondeay
        li 
          a(href="#/schedule-tuesday") Tuesday
        li 
          a(href="#/schedule-wednesday") Wednesday
        li 
          a(href="#/schedule-thursday") Thursday

  section(id="schedule-monday")
    h2 Monday
    p
      | To help compensate with the time and informtion we are going to be covering 
      | slightly less material than you would normally cover in this class.  Also to 
      | allow for my work and "office hours" we will not be meeting on Monday, and 
      | instead will be setup to handle online communication (or hangouts)
    aside(class="notes")
      | I highly recommdn using google hangout for communication when problems arise
      | since this can give us some great feedback and face-to-face contact. 

  section(id="schedule-tuesday")
    h2 Tuesday

  section(id="schedule-wednesday")
    h2 Wednesday

  section(id="schedule-thursday")
    h2 Thursday


