section#schedule
  section
    h2 Schedule
    p
      | This class is a single block class, which means that it will go from
      b May 12<sup>th</sup>, 2014 
      | to 
      b June 26<sup>th</sup>, 2014.
    br
    p
      | This class is broken down into 4 days a week 
      ul
        li 
          a(href="#/schedule-monday") Mondeay
        li 
          a(href="#/schedule-tuesday-thursday") Tuesday
        li 
          a(href="#/schedule-wednesday") Wednesday
        li 
          a(href="#/schedule-tuesday-thursday") Thursday

  section(id="schedule-monday")
    h2 Monday
    p
      | To help compensate with the time and informtion we are going to be covering 
      | slightly less material than you would normally cover in this class.  Also to 
      | allow for my work and "office hours" we will not be meeting on Monday, and 
      | instead will be setup to handle online communication (or hangouts)
    aside(class="notes")
      | I highly recommdn using google hangout for communication when problems arise
      | since this can give us some great feedback and face-to-face contact. 

  section(id="schedule-tuesday-thursday")
    h2 Tuesday / Thursday
    p 
      | These are standard lecture days.  Each lecture will have discussions as well
      | as group practices.  Each week on one of these two days I will give you an 
      | assigment that will be counted as extra credit for those that turn them in.  

  section(id="schedule-wednesday")
    h2 Wednesday
    p 
      | This day is the due date for all assigments.  You will have a single assignment
      | that will need to be turned in on this day.  Since this is a written assignment, 
      | this means that it will be a paper you hand in.  



