section(id="syllabus")
  h2 Syllabus
  ul
    li
      a(href="#/course-details") Course Details
    li
      a(href="#/communication") Communication
    li
      a(href="#/schedule") Weekly Schedule
    li
      a(href="#/calendar") Calendar
    li
      a(href="#/gradin") Grading
    li
      a(href="#/ethics") Ethics

