doctype html
head(lang='en')
  include layouts/slide-header.jade

  body
    #reveal
      #slides
        section(id="title")
          h1 Discrete Mathematics
          h2 CS 2300
          br
          h3 Introduction to Mathematics (The Computer Way)
          p
            small Professor
              a(href='http://mikewright.me') Michael Wright
              |  / 
              a(href='http://twitter.com/mk_wright') mk_wright

    include layouts/slide-footer.jade 
